<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>stream</servlet-name>
        <servlet-class>org.video.streaming.HdfsStreamingServlet</servlet-class>
        <init-param>
            <param-name>hdfsUri</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>hdfsUserName</param-name>
            <param-value>hdfs</param-value>
        </init-param>
        <init-param>
            <param-name>hdfsHomeDir</param-name>
            <param-value>/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>stream</servlet-name>
        <url-pattern>/stream</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
